<.header  class="p-5">
    Archive for {@game.name}
 <:subtitle>
 </:subtitle>
</.header>


<.table id="puzzles" rows={@game.puzzles}>
  <:col :let={puzzle} label="Date">{puzzle.date}</:col>
  <:col :let={puzzle} label="Title">{puzzle.name}</:col>
  <:col :let={puzzle} label="Constructor"></:col>
  <:col :let={puzzle} label="Editor"></:col>
</.table>
