<.flash_group flash={@flash} />

<.header  class="p-5">
    Admin page
</.header>

    <p>
    <a href="/admin/games">Games</a>
    </p>
    
    <p>
    <a href="/admin/users">Users</a>
    </p>
    
