<.header>
  New Puzzle for game {@changeset.changes.game_id}

  <:subtitle>Add a new puzzle for this game.</:subtitle>
</.header>


<.puzzle_form changeset={@changeset} action={~p"/admin/games/#{@changeset.changes.game_id}/puzzles"} />


<.back navigate={~p"/admin/games/"}>Back to games</.back>
